extends ../layouts/default

block css
	style.
		.site-header .logo {
			opacity: 0;
			animation: apparate 2s 1s;
			-webkit-animation: apparate 2s 1s;
		}

block content
	.fancy-border-bottom.text-center
		h1 Welcome to the website of SACM's Music Technology Department
		.lead This site will help you stay up to date with our exciting news, keep you up to date with activities of our students as well as providing general information.
		//-.buttons
			//-a(href='http://github.com/JedWatson/keystone-demo', target='_blank', title='View on GitHub').btn.btn-primary View on GitHub
			//-a(href='http://www.keystonejs.com/guide', target='_blank', title='KeystoneJS Documentation').btn.btn-link Read the Docs

	.row.cards
		.col-sm-6
			.card.card--secondary: a(href='/blog')
				span.entypo.entypo-docs.card__icon
				.card__body
					h3.card__title Blog
					p View news, stories and articles from the department.
					.card__button Check it out
			.card.card--success: a(href='/contact')
				span.entypo.entypo-mail.card__icon
				.card__body
					h3.card__title Enquiries
					p Contact us directly.
					p We will try get back to you as soon as we can.
					.card__button Check it out
		.col-sm-6
			.card.card--primary: a(href='/gallery')
				span.entypo.entypo-picture.card__icon
				.card__body
					h3.card__title Gallery
					p View our gallery at SACM Music Technology.
					.card__button Check it out
			.card.card--important: a(href='/CD')
				span.entypo.entypo-lock.card__icon
				.card__body
					h3.card__title We have a new CD!
					p Please listen to our support us by buying our new CD.
					.card__button Buy now
//- .fancy-border-top.text-center

block page-js
	script.
		$('.site-header').find('.logo').bind('animationend webkitAnimationEnd MSAnimationEnd oAnimationEnd', function(e){
			$(this).css('opacity', '1');
		});
